.chat-main
  .chat-main__group-info
    .chat-main__group-info__info-leftbox
      %p.current-group
        = @group.name
      %ul.member-list
        Member :&nbsp;
        - @group.users.each do |user|
          %li.member-name
            = user.name
            &nbsp;
    = link_to "Edit", edit_group_path(@group), class: "edit-group__btn"
  %ul.message-list
    = render @messages

  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'